<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">

<head>
  {{ partial "postgresql/html-head" . }}
  {{ partial "postgresql/inject/head" . }}
</head>

<body>
  <input type="checkbox" class="hidden" id="menu-control" />
  <main class="flex container">

    <aside class="book-menu fixed">
      {{ partial "postgresql/menu" . }}
    </aside>

    <div class="book-posts">
      {{ partial "postgresql/mobile-header" . }}
      {{ template "main" . }}
      {{ partial "postgresql/git-footer" . }}
      {{ partial "postgresql/inject/footer" . }}
    </div>

    {{ template "toc" . }}
  </main>

  {{ partial "postgresql/inject/body" . }}
</body>

</html>
